body {
    background-image: url('../img/fabian-mardi-119790-unsplash\ \(1\).jpg');
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


/* -------------------Début section---------------- */

.marg_section {
    margin-top: 45px;
}

.sect {
    min-height: 72vh;
}


/* -------------------Fin section---------------- */


/* -------------------Début footer---------------- */

.piedPage {
    text-align: center;
    background-color: #141517;
}

.textPied {
    margin-bottom: 0px;
    color: #ffffffb5 !important;
    margin-top: 25vh;
}


/* -------------------Fin footer---------------- */


/* ------------------Début -les formulaires---------------- */

.MonForm {
    margin-top: 14%;
    border: solid 2px #d0c9d6;
    background-color: #2125298f;
}

.espace {
    margin-top: 2%;
}

.mb {
    margin-bottom: 2%;
}

.pourLabel {
    font-weight: bolder;
    font-style: italic;
}

.centrerDroite {
    text-align: right;
}


/* #################### Début les tableaux #################### */

.Mes_tableaux {
    margin-top: 8%;
    /* margin-bottom: 9em; */
}

tr:hover {
    background-color: #fec23694!important;
}

tr {
    background-color: #141517;
}

td {
    border: 0.02px solid rgba(255, 255, 255, 0.288);
}

th {
    border: 0.02px solid rgba(255, 255, 255, 0.11);
}

thead>tr {
    background-color: #eeebf1c9 !important;
    color: black;
    font-weight: bolder;
}

thead>td {
    border: 0.02px solid rgba(14, 13, 13, 0.288)!important;
}

thead>tr:hover {
    background-color: black !important;
    color: #eeebf1c9;
}


/* ###################### Fin les tableaux #################### */


/* -------------------Fin les formulaires---------------- */