body {
    /* background-image: url('../img/fabian-mardi-119790-unsplash\ \(1\).jpg'); */
    /* background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* color: white; */
    background-color: #e6e6e6;
}


/* -------------------Début section---------------- */

.marg_section {
    margin-top: 45px;
}

.sect {
    min-height: 72vh;
}


/* -------------------Fin section---------------- */


/* -------------------Début footer---------------- */

.piedPage {
    text-align: center;
    background-color: #141517;
}

.textPied {
    margin-bottom: 0px;
    color: #ffffffb5 !important;
    margin-top: 25vh;
}


/* -------------------Fin footer---------------- */


/* ------------------Début -les formulaires---------------- */

.MonForm {
    margin-top: 10%;
    border: solid 2px #d0c9d6;
    background-color: #21252928;
}

.FormIndex {
    margin-top: 18% !important;
}

.espace {
    margin-top: 2%;
}

.mb {
    margin-bottom: 2%;
}

.pourLabel {
    font-weight: bolder;
    font-style: italic;
}

.centrerDroite {
    text-align: right;
}


/* #################### Début les tableaux #################### */

.Mes_tableaux {
    margin-top: 8%;
}

thead>tr {
    font-weight: bolder;
}


/* ###################### Fin les tableaux #################### */


/* -------------------Fin les formulaires---------------- */

.blcMoins {
    background-color: rgba(0, 0, 0, 0.836) !important;
    color: white;
}

.rougMoins {
    background-color: rgba(158, 11, 11, 0.836) !important;
    color: white;
}

.red {
    color: red !important;
}

.diagCircl {
    margin-top: 4%;
}

.textAc {
    margin-top: 10%;
    background-color: #ffffffa6;
    border-radius: 15px 50px;
}

.titreCircle,
.textAc {
    font-weight: bolder;
    font-style: italic;
    color: #e08833;
    text-align: center;
}

.titreCircle {
    font-size: 235%;
    margin-left: 22%;
}

.titreCirLog {
    margin-left: 60% !important;
}